
@{
    ViewBag.Title = "sendObjectVB";
}

<h2>sendObjectVB</h2>
<table>
    <tr>Emp no:@ViewBag.emp.empno</tr>
    <tr>Emp name:@ViewBag.emp.ename</tr>
    <tr>Emp salary:@ViewBag.emp.salary</tr>
</table>
