@model mvcnew.Models.emp
@{
    ViewBag.Title = "Sendobject";
}

<h2>Sendobject</h2>
<table>
    <tr>
        <td>Emp no:</td>
        <td>@Model.empno</td>
    </tr>
    <tr>
        <td>Emp name:</td>
        <td>@Model.ename</td>
    </tr>
    <tr>
        <td>Emp salary:</td>
        <td>@Model.salary</td>
    </tr>

</table>
